# Semicolon-separated list of tokens that must be specified in the ?token= parameter.
# Generate this with the command 'npm run gen-token [amount] [length]' (arguments optional).
TOKENS=

# Semicolon-separated list of ancestor directory paths that are allowed to be modified.
# This means the service can modify *any descendant* of a path specified here, including
# overwriting and deleting files and downloading and executing scripts there (if enabled).
ALLOWED_DIRS=

# Semicolon-separated glob-patterns of allowed files.
# If you want to use RPC, add the allowed script file extensions or names here (any of .sh, .bat and .cmd).
ALLOWED_FILE_PATTERNS=*.{zip,rar,tar,tar.gz};file_*.txt

# TCP port of the server - should be 80 or 443 if directly exposed, else you need to use a reverse proxy.
PORT=8034

# Whether to log to the console whenever a request was successful. (This also logs the IP addresses!)
LOG_REQUESTS=false

# If specified, the server will HTTPS-encrypt all traffic with the given certificate. Empty = disabled.
# Relative paths will be resolved from the process working directory.
# Specify the path to the .crt file here:
HTTPS_CERTIFICATE_PATH=
# Specify the path to the .key file here:
HTTPS_PRIVATE_KEY_PATH=
